body {
  margin: 0;
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  display: flex;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px; /* Increased padding for more space */
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 500px; /* Increased max-width for a wider container */
  width: 100%;
  backdrop-filter: blur(10px);
  font-family: "Montserrat", sans-serif;
  margin: auto;
}
.container > div {
  flex: 0 0 auto; /* Prevent containers from stretching */
  margin-right: 10px; /* Adjust spacing between containers */
}
#disclaimer {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  font-size: 12.5px; /* Adjusted font size for better readability */
  color: #555; /* Changed text color for a more subtle appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle lift */
}

/* Styles for the model icons */
.model-icons {
  display: flex;
  cursor: pointer;
  justify-content: center; /* Center the icons horizontally */
}

.model-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px; /* Add padding for spacing and appeal */
  border: 2px solid lightblue; /* Border color for each icon */
  border-radius: 8px;
  transition: transform 0.3s ease, border 0.3s ease; /* Smooth transition for scale and border changes */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: auto;
}

.model-icon.selected,
.model-icon:hover {
  border: 2px solid rgba(37, 218, 118, 0.801); /* Change border color on hover and when selected */
  background-color: rgba(
    37,
    218,
    118,
    0.801
  ); /* Add background color to highlight the selected icon */
  transform: scale(1.1); /* Scale up the icon on hover and when selected */
}

.model-icon img {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  border-radius: 8px;
}

.model-icon span {
  margin-top: 5px;
  font-size: 13px;
  color: #333; /* Text color for model name */
  font-family: "Montserrat", sans-serif;
}

.flip-horizontal img {
  transform: scaleX(
    -1
  ); /* Flip the image horizontally for the specified class */
}

.model-icon.flip-horizontal span {
  margin-top: 14px; /* Adjust the margin as needed */
}

/* Additional styling for the selected model */

/* Apply styles to the dropdown */
#stateSelect1 {
  padding: 12px;
  font-size: 16px;
  border: 2px solid lightblue;
  border-radius: 8px;
  width: 250px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

#stateSelect:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  color: lightblue;
  transition: transform 0.3s ease;
}

#stateSelect:focus:after {
  transform: translateY(-50%) rotate(180deg);
}

#stateSelect option {
  background-color: light;
  color: black;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#stateSelect option:checked {
  background-color: rgb(39, 132, 39);
  color: black;
}

label {
  margin-top: 10px;
  margin-left: 10px; /* Adjust as needed for spacing */
  font-size: 18px; /* Adjusted font size */
  color: #000000;
  margin-bottom: 8px; /* Reduced margin */
  font-family: "Montserrat", sans-serif;
}

.customLabel {
  margin-top: 20px;
}

/* Updated styles for logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 200px; /* Adjusted width for the logo */
  height: auto;
}

/* Updated styles for main-heading and sub-heading */

.heading {
  font-size: 27px; /* Adjusted font size */
  text-align: center;
  margin-bottom: 30px; /* Reduced margin */
  color: #333;
  font-family: "Montserrat", sans-serif;
  margin-left: 12px;
}

.sub-heading {
  font-size: 20px; /* Adjusted font size */
  color: #1a1919;
  margin-bottom: 15px; /* Reduced margin */
  font-family: "Montserrat", sans-serif;
  margin-left: 8px;
}

.input {
  padding: 18px; /* Adjusted input padding */
  font-size: 16px;
  background-color: white; /* Background color for input */
  border: 2px solid lightblue; /* Border matching vehicleDropdown */
  border-radius: 8px;
  margin: 12px 8px; /* Added more margin between inputs */
  color: #333; /* Text color for input */
  font-family: "Montserrat", sans-serif;
}
.input_result {
  padding: 18px; /* Adjusted input padding */
  font-size: 18px;
  background-color: white; /* Background color for input */
  border: 2px solid lightblue; /* Border matching vehicleDropdown */
  border-radius: 8px;
  margin: 12px 8px; /* Added more margin between inputs */
  color: #333; /* Text color for input */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.btn {
  background-color: rgba(37, 218, 148, 0.678);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 20px;
  font-size: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 25px;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  background-color: rgba(37, 218, 118, 0.801);
}

.info-text {
  font-size: 20px;
  font-weight: 500;
}

.reference {
  margin-left: 10px;
  font-size: 11px;
  margin-top: auto;
}

.reference a {
  text-decoration: underline;
  color: black;
  white-space: nowrap;
}

.input-container {
  text-align: center;
}

#tco-result-label {
  color: rgba(37, 218, 148, 0.678);
  font-weight: bold;
  margin-top: auto;
  padding: 12px 24px;
  font-size: 25px;
  text-align: center;
}

#tco-result1 {
  color: rgba(37, 218, 148, 0.678);
  margin-top: 5px;
}

#tco-result2 {
  color: rgba(37, 218, 148, 0.678);
  margin-top: 5px;
}
